.Footer {
  background-color: #197996;
  height: 4em;
  bottom: 0;
  left: 0;
  position: absolute;
  padding-top: 0.5em;
  padding-left: 5em;
  

  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    list-style-type: none;
  }
  .fb{
    margin-right:1em;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    color: whitesmoke;
    &:hover{
      transform: scale(1.4);
      -moz-transform: scale(1.4);
      -o-transform: scale(1.4);
      color: #3B5998; 
    }
  }
  .insta{
    margin-right:1em;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    color: whitesmoke; 
    &:hover{
      transform: scale(1.4);
      -moz-transform: scale(1.4);
      -o-transform: scale(1.4);
      color: #D9317A; 
    }
  }
}